<div class="container">
  <div class="promotion-banner d-flex" style="background-color: $green;">
    <i class="far fa-star star-icon"></i>
    <div class="gem-text">
      <h2 class="pt-3">Congratulations! You have booked your spot at <strong><%= @booking.restaurant.name %> </strong></h2>
      <p>The booking will get confirmed with the restaurant as soon as three other users join. Stay tuned!</p>
    </div>
  </div>
</div>
