<div class="head-bar">
<div>
  <%= @restaurant.name %>
  <p>
    <%= @booking.title %>
  </p>
</div>
<div>
  picture
</div>
<div>
  <div>****</div>
  <div class="btn-flat">Join Booking</div>
</div>
</div>
<div class="bookings-details-box">
  <div>user cards</div>
  <div>restaurant details</div>
</div>
