<div class="head-bar">
<div>
   <h1><%= @restaurant.name %></h1> <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
  <h3>
    <%= @booking.title %>
  </h3>
</div>
<div>
  <div class="btn-flat">Join Booking</div>
</div>
</div>
<div class="bookings-details-box">
  <div class="half-width">
    <ul class="cards-holder">
    <% @booking.users.each do |user| %>
      <li class="">

      place holder

      </li>
    <% end %>
    </ul>
  </div>
  <div class="half-width">restaurant details</div>
</div>
