<form class="form-inline">
  <label class="sr-only" for="inlineFormInputName2">Name</label>
  <input type="date" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter date">

  <div class="input-group mb-2 mr-sm-2">

    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Location">
  </div>
  <%= link_to "Search", bookings_path, class: "btn-flat mb-2" %>
</form>
