<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel"><strong>Start a new booking</strong></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action='/restaurants' method="get" class="mt-2">
        <div class="form-group fg">
          <label for="location">Choose a location</label>
          <input type="input" name="city" placeholder="Choose a location"class="form-control" id="location">
        </div>

      <div class="container">
          <div class="container">
              <div class="form-group">
                  <div class="input-group date" id="datetimepicker9" data-target-input="nearest">
                      <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker9"/>
                      <div class="input-group-append" data-target="#datetimepicker9" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                  </div>
              </div>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker9').datetimepicker({
                      icons: {
                          time: "far fa-calendar",
                          date: "far fa-calendar",
                          up: "far fa-arrow-up",
                          down: "far fa-arrow-down",
                      }
                  });
              });
          </script>
      </div>



        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <button type="submit" class="btn btn-primary">Search for restaurants</button>
      </form>

      </div>
    </div>
  </div>
</div>
