<!-- Button trigger modal -->
<div id="firstUsers" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="firstUsersLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="firstUsersLabel"><strong>You´ve joined this booking!</strong></h4>
      </div>
      <div class="modal-body">
        <p style="text-align: left;" class="pb-0"> <strong>What´s next?</strong></p>
        <p class="pt-0"> As soon as 4 users join, you will get notified and the booking will get confirmed with the restaurant.
        </p>
        <p>Stay tuned!</p>
      </div>
      <div class="modal-footer d-flex justify-content-around">
        <button type="button" class="btn btn-flat" data-dismiss="modal">Check my booking</button>
      </div>
    </div>
  </div>
</div>
