<div id="lastUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="lastUserLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="lastUserLabel"><strong>You´ve joined this booking!</strong></h4>
      </div>
      <div class="modal-body modal-body-js">
        <h5 class="pt-2 pb-2" style="text-align: center;"> Congrats! Since you are the fourth user of this booking, it has now been confirmed with the restaurant.
        </h5>
        <h5 style="text-align: center;">Have <strong>fun!</strong></h5>
      </div>
      <div class="modal-footer d-flex justify-content-around">
        <button type="button" class="btn btn-flat" data-dismiss="modal">Check my booking</button>
      </div>
    </div>
  </div>
</div>
