.restaurant-info {
  margin-bottom: 10px;
  margin-right: 0px !important;
  width: 750px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.filter-bar {
  margin-bottom: 30px;
}

.restaurant-picture {
  width: 500px;
  height: 100%;
  margin: 10px 0px;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
}

.restaurant-details {
  padding-left: 15px;
  margin: 20px 0px;
  text-decoration: none;
  width: 800px;
  height: 300px;

  p {
    color: $light-gray;
  }

  h5 {
    color: $gray;
  }
}

.attendee-list {
  display: flex;
}

.available-booking-hours {
  display: flex;
}

.btn-resto {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FE5A5F;
  transition: background 0.3s ease;
  text-decoration: none !important;
  position: relative;
  bottom: 15px;
}

.btn-resto:hover {
  background: #FE5A5F;
  color: white;
}

.rating {
  display: flex;
  justify-content: space-between;
}

.link-card {
  text-decoration: none !important;
}

.search-elements {
  margin: 0 10px;
}

