.datepicker {
  background-color: white !important;
  margin-right: 0px;
  // margin-right: 5px !important;
}

.btn-home-page {
  margin-bottom: 10px;
  padding: 6px 28px !important;
}

.timepicker {
  background-color: white !important;
  // margin-right: 5px !important;
}


.simple-form-input {
  height: 100% !important;
  margin-right: 3px;
}
