.avatar-image {
  width: 35px;
  height: 35px;
}

.avatar-bordered-card-all-attendees {
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: $green 1px solid;
}

.attendee-details {

  p {
    padding-left: 10px;
    position: relative;
    top: 10px;
  }
}

.attendee-name {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 2px !important;
}

.attendee-age-location {
  font-size: 14px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  color: $gray;
}

.footer-links-attendees {
   a {
    color: $green !important;
    padding-left: 0px !important;
  }
}

