
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin-bottom: 10px;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-one{
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.map-card {
  flex: 0 0 33%;
  position: sticky;
  top: 0px;
  align-self: flex-start;
  margin-left: auto;
}

.main-container {
  display: flex;
  align-items: flex-start;
}

.card-restaurant-index {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  transition: 0.3s ease;
  .search-elements {
  margin-right: 0px !important;
}
}

.link-card {
  // text-decoration: none !important;
  transition: 0.3s ease;
}

.card-restaurant-index:hover {
  // text-decoration: none !important;
  transform: scale(1.02) !important;
}

.card-restaurant-index img {
  height: 100%;
  width: 250px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  text-decoration: none !important;
}

.card-restaurant-index h2 {
  font-size: 20px;
  color: $gray;
  font-weight: bold;
  margin: 0;
}

.card-restaurant-index p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: $gray;
}

.card-restaurant-index-infos {
  flex-grow: 1;
}

.card-restaurant-index .card-restaurant-index-infos {
  padding: 0px 16px;
}

.card-restaurant-index-infos i {
 text-decoration: none;
}

.booking-time {
  color: white !important;
  background-color: $green;
  padding: 5px;
  border-radius: 5px;
}

