.head-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(235,235,235);
  border-top: 1px solid rgb(235,235,235);
  padding: 1% 5%;
}

.bookings-details-box {
  display: flex;
}



.cards-holder {
 list-style: none;
}

.attendee {
  display: flex;
  justify-content: space-around;
  border: 1px solid $very-light-gray;
  border-radius: 4px;
  padding: 8px;
}

.restaurant-details {
  padding: 8px;

}

.details {
  padding: 8px;
  color: $light-gray;
}



.booking-show-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
  width: 45vw;
  margin: -25px auto;
}

.banana {
  text-align: left;
  background: white;
  align: center;
  padding: 50px;
  font-weight: normal;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.users-holder {
  top: 0px;
  align-self: flex-start;
  text-align: left;
  position: sticky;
  padding: 20px 40px;
  background: white;
  font-weight: normal;
  width: 30vw;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.scrollable {
  height: 500px;
  overflow: scroll;
}

.search-button {
  margin-top: 10px;
  text-align: center;
}

.both-columns {
  margin-top: -77px;
}

.booking-button-two {
  display: flex;
  padding-top: 23px;
  padding-bottom: 24px;
  justify-content: center;
  text-align: center;
  background-color: #EBEBEB;
  border-radius: 2px;
  color: white;
}

.join-booking-button {
  position: sticky;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 20px;
}

.details-headline {
  color: $light-gray;
}

.scrollable {
  height: 500px;
  overflow: scroll;
}

.attendee-key-info {
  display: flex;
}

.avatar-expanded {
  width: 50px;
  height: 50px;
}

.attendee-short-details {
  h5 {
    font-size: 17px;
    color: $gray;
    padding-bottom: 0px;
    padding-top: 0 px;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-left: 20px;
    margin-left: 40px;
  }

  p {
    font-size: 14px;
    color: $light-gray;
    padding-bottom: 0px;
    padding-top: 0 px;
    margin-bottom: 0px;
    margin-top: 0 px;
    padding-left: 20px;
    margin-left: 40px;
  }
}

.signed-up-booking-button {
  font-size: 20px;
  color: $light-gray;

  i {
    color: white;
  }
}

.confirmed-booking-button {
  font-size: 20px;
  color: $green;

  i {
    color: white;
  }
}


.comment-space {
  margin-left: 10px;
  padding: 4px;
  background-color: #F6F7F8;
  flex-grow: 1;
  border-radius: 3px;

  p {
    font-size: 14px;
  }
}

.comment-owner {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
}

.check-my-bookings {
  text-align: right;

  a {
  padding-top: 5px;
  font-size: 14px;
  color: $green;
  text-decoration: none;
  }
}

.check-my-bookings:hover {

  a {
  color: green;

  }
}
