.head-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(235,235,235);
  border-top: 1px solid rgb(235,235,235);
  padding: 1% 5%;
}

.bookings-details-box {
  display: flex;
}



.cards-holder {
 list-style: none;
}

.attendee {
  display: flex;
  justify-content: space-around;
  border: 1px solid $very-light-gray;
  border-radius: 4px;
  padding: 8px;
}

.restaurant-details {
  padding: 8px;

}

.details {
  padding: 8px;
}



.booking-show-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
  width: 45vw;
  margin: -25px auto;
}

.banana {
  text-align: left;
  background: white;
  align: center;
  padding: 50px;
  font-weight: normal;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.users-holder {
  top: 0px;
  align-self: flex-start;
  text-align: left;
  position: sticky;
  padding: 20px 40px;
  background: white;
  font-weight: normal;
  width: 30vw;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

